<h2>Text Input</h2>
<input v-model="text" />
<p>{{ text }}</p>

<h2>Checkbox</h2>
<input type="checkbox" id="checkbox" v-model="checked" />
<label for="checkbox">İşaretli: {{ checked }}</label>

<!--
  birden fazla onay kutusu (checkbox) v-model aracılığıyla aynı
  diziye (array) bağlanabilir
-->
<h2>Multi Checkbox</h2>
<input type="checkbox" id="jack" value="Jack" v-model="checkedNames" />
<label for="jack">Jack</label>
<input type="checkbox" id="john" value="John" v-model="checkedNames" />
<label for="john">John</label>
<input type="checkbox" id="mike" value="Mike" v-model="checkedNames" />
<label for="mike">Mike</label>
<p>İşaretlenen isimler: {{ checkedNames }}</p>

<h2>Radio Button</h2>
<input type="radio" id="one" value="Bir" v-model="picked" />
<label for="one">Bir</label>
<br />
<input type="radio" id="two" value="İki" v-model="picked" />
<label for="two">İki</label>
<p>Seçilen: {{ picked }}</p>

<h2>Select</h2>
<select v-model="selected">
  <option disabled value="">Lütfen birini seçin</option>
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<p>Seçilen: {{ selected }}</p>

<h2>Multi Select</h2>
<select v-model="multiSelected" multiple style="width: 100px">
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<p>Seçilenler: {{ multiSelected }}</p>
